# Node.js
node_modules
Codigo/Server/node_modules
Codigo/client/node_modules
Codigo/client/build
npm-debug.log
yarn-error.log
yarn-debug.log*
package-lock.json
yarn.lock

# Logs
logs
*.log
pids
*.pid

# Environment files
.env
.env.*

# Database


# Build output
build/
dist/*


# Dependency directories
jspm_packages/

# IDEs and editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db
*.swp

# React specific
coverage/
*.d.ts

# Miscellaneous
*.tmp
*.bak
*.swp
*.swo
