:root {
  --color-100: #001B48;
  --color-200: #FFFFFF;
  --color-300: #374151;
  --color-400: #004581;
  --color-500: #DD3915;
  --color-600: #018ABD;
  --color-700: #EEEEEE;  

  --font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.fondo-bienvenida, .fondo-login, .fondo-crearCuenta,.fondo-cambiarContraseña {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: fit;
}

/* Fondo por defecto para cada clase */
.fondo-bienvenida {
  background-image: url('./Assets/Background_01.png');
}

.fondo-login {
  background-image: url('./Assets/Background_02.png');
}

.fondo-crearCuenta {
  background-image: url('./Assets/Background_03.png');
}
.fondo-cambiarContraseña {
  background-image: url('./Assets/Background_04.png');
}



h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--color-100);
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--color-100);
}

body {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-300);
  text-align: justify;
}

textarea {
  width: 300px;
  height: 100px;
  resize: none;
  font-size: 12px;
}

button {
  padding: 10px 20px;
  margin: 8px 0px 8px 0px;
  width: 80%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color:#004581;
  border-color: #004581;
  transform: scale(1.03);
}

ul {
  list-style: none;
  padding-bottom: 10px 0;
  font-family: var(--font);
}

ul li {
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-700);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

ul li:hover {
  background-color: var(--color-400);
}

.contenedor {
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  justify-content: center;
  font-family: var(--font);
  position: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contenedor-columnas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 650px;
  height: auto;
  padding: 20px;
}
.contenedor-columnas-sin-ancho {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: auto;
  padding: 40px;
}

.contenedor-base-columnas {
  text-align: center;
  justify-content: center;
  font-family: var(--font);
  position: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.columna {
  flex: 1;
  padding: 20px;
}

.columna2 {
  flex: 2;
  padding: 20px;
}

/* Ajuste para la columna que contiene la imagen */
.columna-imagen {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.columna-imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Ajuste para la columna de los inputs y botones */
.columna-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.input-contenedor {
  position: relative;
}

.input-contenedor input[type=text], input[type=number], input[type=dropdown],
input[type=password], input[type=date], input[type=select], select, p, textarea{
  font-weight: regular;
  font-size: 12px;
  font-family: var(--font);
  background-color: var(--color-200);
  text-align: center;
  color: var(--color-100);

  width: 100%;
  padding: 10px;
  margin: 6.5px 0px;
  border: 1px solid var(--color-400);
  border-radius: 6px;
  box-sizing: border-box;
}

.text-izquierda {
  text-align: start;
}
.text-izquierda::placeholder {
  text-align: start;
  direction: rtl; /* Esto fuerza el placeholder a alinearse a la derecha */
}

.input-contenedor .icono {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}


/* Estilo para el botón de color naranja */
.btn_naranja {
  font-family: var(--font);
  background: var(--color-500);
  color: var(--color-200);
  border: 2px solid var(--color-500);
  border-radius: 6px;
  padding: 12px;
  width: 100%;
}

/* Estilo para el botón de color azul */
.btn_azul {
  font-family: var(--font);
  background: var(--color-600);
  color: var(--color-200);
  border: 2px solid var(--color-600);
  border-radius: 6px;
  padding: 12px;
  width: 100%;
}

.logo-container {
  position: fixed;
  bottom: 0px;
  right: 20px;
}

.logo-container img {
  width: 100px;
  height: auto;
  opacity: 60%;
}

.input-contenedor.error input {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}


/* ESTILOS POPUP*/

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  backdrop-filter: blur(8px); /* Desenfoque del fondo */
}

.popup {
  background-color: var(--color-200);
  border-radius: 15px;
  box-shadow: 0px 0px 10px --color-100;
  width: 850px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contenedor-columnas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px; /* Espacio entre las columnas */
}

.close-popup {
  position: absolute;
  top: 10px;
  background: none;
  border: none;
  font-size: 24px; /* Tamaño del botón "X" */
  font-weight: bold;
  cursor: pointer;
  color: var(--color-300); /* Color de la "X" */
  padding: 5px; /* Tamaño del área clickeable */
  line-height: 1; /* Asegura que la "X" no se estire */
}

/* Elimina el hover azul predeterminado del botón "X" */
.close-popup:hover {
  color: var(--color-400); /* Mantén el color de la "X" sin cambiar */
  background: none; /* No hay cambio de fondo en hover */
}

/* Asegura que el label y su contenedor estén alineados a la izquierda */
.field-container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  text-align: left; /* Alinea todo el contenido del contenedor a la izquierda */
  margin-bottom: 10px; /* Añade un margen inferior para separar los campos */
}

.field-container label {
  display: block; /* Asegura que el label ocupe una línea completa */
  margin-bottom: 5px; /* Añade un pequeño margen inferior para separar el label del input */
}

.fila-juntas {
  display: flex;
  justify-content: space-between;
}

.fila-juntas .input-contenedor {
  flex: 1;
  margin-right: 10px; /* Espacio entre los campos */
}

.fila-juntas .input-contenedor:last-child {
  margin-right: 0; /* Remueve el margen del último elemento */
}

input[type="time"] {
  font-size: 12px;
  font-family: var(--font);
  background-color: var(--color-200);
  text-align: center;
  color: var(--color-100);
  width: 100%;
  padding: 10px;
  margin: 6.5px 0px;
  border: 1px solid var(--color-400);
  border-radius: 6px;
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centra los checkboxes horizontalmente */
}

.checkbox-container label {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Espaciado entre checkboxes */
}

.checkbox-container input[type='checkbox'] {
  margin-right: 5px; /* Espaciado entre el checkbox y el texto */
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown input {
  font-weight: regular;
  font-size: 12px;
  font-family: var(--font);
  background-color: var(--color-200);
  text-align: center;
  color: var(--color-100);
  width: 100%;
  padding: 10px;
  margin: 6.5px 0px;
  border: 1px solid var(--color-400);
  border-radius: 6px;
  box-sizing: border-box;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px; /* Ajusta el tamaño máximo según sea necesario */
  overflow-y: auto;
  background-color: var(--color-200);
  border: 1px solid var(--color-400);
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-family: var(--font);
}

.dropdown-menu .dropdown-item {
  padding: 10px;
  background-color: var(--color-700);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--color-600);
  color: #EEEEEE;
}
